@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');
*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    /* COLORS */
    --main-bg-color: #031927;
    --main-content-bg-color: #fff;
    --main-primary-text-color: #fff;
    --main-secondary-text-color: #333;

    /* FONTS SIZES */

    /* Desktop */
    --font-size-header-title-desktop: 60px;
    --font-size-header-subtitle-desktop: 30px;

    --font-size-content-title-desktop: 120px;
    --font-size-content-subtitle-desktop: 40px;
    --font-size-content-text-and-links-desktop: 24px;
    /* Mobile */
    --font-size-header-title-mobile: 24px;
    --font-size-header-subtitle-mobile: 16px;

    --font-size-content-title-mobile: 40px;
    --font-size-content-subtitle-mobile: 30px;
    --font-size-content-text-mobile: 16px;
    --font-size-content-links-mobile: 18px;
    --font-size-content-copyright-mobile: 14px;

    /* FONTS WEIGHTS */
    
    /* General */
    --font-weight-general: 300;
    --font-weight-content-title: 500;
    --font-weight-content-subtitle: 400;
    
}
body {
    font-family: 'Montserrat', sans-serif;
    background: var(--main-bg-color);
    display: flex;
    padding: 30px;
    justify-content: center;
    align-items: center;
}
.banner {
    background: var(--main-content-bg-color);
    position: absolute;
    height: 155%;
    width: 120%;
    transform: rotate(-60deg);
    /* width: 2231.692px;
    height: 1490.387px;
    transform: rotate(117.958deg);   */
    z-index: 1;
}
.container {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: calc(4px + 1.3vw);
    overflow: hidden;
}
.content {
    width: 100%;
    height: 100%;
    background: var(--main-content-bg-color);
    padding: 20px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    z-index: 2;
    gap: 20px;
}
.content header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}
/* HEADER */
.header-text h1, .header-text h2{
    font-style: normal;
    font-weight: var(--font-weight-general);
    line-height: 115%; 
}
.header-text h1{
    font-size: var(--font-size-header-title-desktop);
}
.header-text h2 {
    font-size: var(--font-size-header-subtitle-desktop);
}
.header-social {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.header-social a {
    padding: 10px;
}
.header-social a:hover svg {
    transform: scale(1.15);
    transition: transform .1s ease-out;
}
.header-social svg {
    width: 40px;
    height: 41px;
}
/* END HEADER */
/* MAIN */
main {
    display: flex;
    padding: 20px;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 10px;
    background: var(--main-bg-color);
}
/* END MAIN */